* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Arial';
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(2,0,36);
  background: linear-gradient(135deg, rgba(2,0,36,1) 13%, rgba(74,9,121,1) 49%, rgba(139,0,255,1) 88%);
}

button {
  position: absolute;
  top: 50%;
  left: 11%;
  width: 15%;
  background-color: transparent;
  color:rgb(228, 224, 224);
  border: 3px solid rgb(228, 224, 224);
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(215, 210, 213, 0.384);
  -moz-box-shadow:    0px 0px 20px 0px rgba(215, 210, 213, 0.384);
  box-shadow:         0px 0px 20px 0px rgba(215, 210, 213, 0.384);
  transition: all .3s ease;
}

.controls {
  position: absolute;
  top: 65%;
  left: 8%;
  height: 200px;
  width: 300px;
  background-color:rgb(87, 73, 107);
  border-radius: 14px;
}

.controls h3 {
  position: relative;
  color: rgb(228, 224, 224);
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 10;
  margin-top: 10px;
}

.controls-list {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
  width: 80%;
  align-items: flex-start;
  list-style-type: none;
  margin-left: 40px;
}

.controls-list li {
  font-size: 20px;
  display: flex;
}

.reset-btn {
  display: none;
  height: 35px;
  border-radius: 20px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  width: 100px;
  border: 3px solid rgb(228, 224, 224);
  color:rgb(228, 224, 224);
  position: absolute;
  cursor: pointer;
  top: 58%;
  left: 15%;
}

button:hover {
  -webkit-box-shadow: 5px 11px 21px 0px rgba(215, 210, 213, 0.79);
  -moz-box-shadow:    5px 11px 21px 0px rgba(215, 210, 213, 0.79);
  box-shadow:         5px 3px 20px 0px rgba(215, 210, 213, 0.767);
  cursor: pointer;
}

.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  margin-top: -200px;
}

.cell {
  border: 1px solid rgba(228, 224, 224, 0.808);
  flex-grow: 1;
  width: 10%;
  height: 10%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(228, 224, 224);
  /* color: transparent; */
}

.game-logo {
  /* background-image: url('https://upload.wikimedia.org/wikipedia/en/b/b0/The_Tetris_Company_logo.png'); */
  background-image: url('../assets/The_Tetris_Company_logo.png');
  /* background-color: #cccccc; Used if the image is unavailable */
  height: 120px; /* You must set a specified height */
  width: 400px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: absolute;
  top: 15%;
  left: 5%;

}

.high-score {
  position: absolute;
  right: 5%;
  top: 15%;
  /* border: 1px solid red;  */
  width: 300px;
  height: 400px;
  background-color:rgb(87, 73, 107);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.high-score h2 {
  color:rgba(196, 180, 189, 0.918);
  padding-top: 10px;
}

.high-score ul {
  /* border: 1px solid red; */
  margin-top: 10px;
  width: 250px;
}

.high-score li {
  list-style: none;
  height: 30px;
  border: 1px solid #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  margin-bottom: 14px;
  border-radius: 5px;
}


body > div.high-score > table > tbody > tr:nth-child(1) {
  font-size: 20px;
}

body > div.high-score > table > tbody > tr:nth-child(1) .rank {
  padding-right: 25px;
}

body > div.high-score > table > tbody > tr:nth-child(1) .score {
  padding-right: 25px;
}

body > div.high-score > table > tbody > tr:nth-child(1) .name {

}


/* Color Palette */
/* https://coolors.co/3c91e6-06d6a0-efa00b-7e3f8f-e0607e-fb3640-307351 */

.i {
  background-color: #EFA00B;
}

.l {
  background-color: #FB3640;
}

.j {
  background-color: #307351;
}

.t {
  background-color: #7E3F8F;
}

.s {
  background-color: #E0607E;
}

.z {
  background-color: #06D6A0;
}

.o {
  background-color: #3C91E6;
}

.test {
  background: hotpink;
}

.block {
  background-color: gray;
}

.stopped {
  background: black;
}

/* .lock {

}  */


